h1.titulo_venta {
    border-style: solid;
    text-align: center;
    padding: 2px;
    margin: 2px 100px 2px 100px;
    border-color: lightseagreen;
    color: lightseagreen;
}



table.borde_tabla{
    border-style: solid;
    border-color:#2980B9;
    margin: 10px auto 10px auto;
    width: 600px;
    

}

tr.color_fondo{
    background-color:#2980B9;  
    font-size: larger;
    color: white;
    
}

th.color_fondo{
    background-color:#2980B9;  
    font-size: larger;
    color: white;
    padding: 1px 5px 1px 5px;
}
th{
    border: 1px solid black;
}
td{
    text-align: center;
    font-size:large;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color:white;
    height: 50px;
    width: 100%;
}
img.logo{
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin-left: 50px;
   

}
nav ul li a{
    color:lightseagreen;
    text-transform: uppercase;
    padding: 7px 30px;
    border-radius: 3px;
}

a.active,a:hover{
    background: gray;
    transition: 0.5s;
}

div.boton{
    float: right;
    margin-right: 350px;
    
}

div.scroll{
    overflow-y:scroll;
    height: 150px;
}

tr.filas{
    background-color: #D4E6F1;
    color: #154360;
}

tr.filasdos{
    color: #154360;
}

td.detalles{
 
    border: 1px solid;
    padding: 1px 5px 1px 5px;
    margin: 0;
}

table.info{
    border-collapse: collapse;
    margin-left: 120px;
    margin-top: 10px;
}

table.productos{
    margin-left: 100px;
    margin-top: 10px;
    width: 350px;
}

th.productos{
    padding: 1px 5px 1px 5px;
}

div.detalles{
    padding: 1px 5px 1px 5px;
    margin-left: 50px;
    margin-top: 50px;   
}

input.detalles{
    padding: 1px 10px 1px 10px;
    margin-bottom: 5px;
}