* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul{
    list-style: none;
}
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

.mainbutton{
    background-color: tan;
    color:rgb(14, 13, 13);
    cursor:pointer;
    border:0px;
    padding: 5px 8px;
    border-radius: 10px;
    box-shadow: 5px 5px gold;
}
.mainbutton:hover{
    cursor:pointer;
    box-shadow: 5px 1px gold;
    transform: scale(1.1);
   
}